<div class="container">
    {{!-- <div id="wrapper"> --}}


    <h1>News Scraper</h1>

    <div class="row">
        <div class="col-7">
            <div id="articles">{{#each dbArticle}}
                <h2>{{this.headline}}</h3>
                    <h4>{{this.summary}}</h4>
                    <a href="{{this.url}}">Link</a>
                    <br>


                    <button id="Commentbutton" data-id="{{this._id}}">Comments</button>

                    {{!-- <button data-id="{{this._id}}" id="note">Note</button> --}}
                    {{/each}}
                    {{!-- <div id="notes"></div> --}}
            </div>
        </div>
        <div class="col-5" id="Comments">
            <h1>Comments</h1>

            {{!-- #{{each here for comments}} --}}
            {{!-- set unique class to have notes append to class shouldn't interfere with unique articles --}}

     
        </div>

    </div>


</div>